{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block LinksUpMenu %}
<li><a href="{% url 'first_page' %}" >Home</a></li>
<li><a href="{%url 'sklad_page' %}">Склад</a></li>
{% endblock%}

{% block LinksRightNavigator %}

{% endblock %}

{% block RightColumnBlock%}

{% endblock%}



{% block table %}
<h2>Редактирование ед.измерения</h2>					
<table class="bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Наименование</th>

        </tr>
    </thead>
    <tbody>
        {% for item in dbcAll %}
        <tr> 
            <td>{{ item.id_dbu }} </td>
            <td>{{ item.name }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}