{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block LinksUpMenu %}
<li><a href="{% url 'first_page' %}" >Home</a></li>
<li><a href="{%url 'sklad_page' %}">Склад</a></li>
{% endblock%}

{% block LinksRightNavigator %}
        <li><a href="{% url 'add_test_data_DBC' %}">Заполнить DBC test data</a></li>
        <li><a href="{% url 'add_test_data_DBU' %}">Заполнить DBU test data</a></li>
        <li><a href="{% url 'add_test_data_DBGC' %}">Заполнить DBGC test data</a></li>
        <li><a href="#">Nectun sed quia conseq</a></li>
        <li><a href="#">Natus error sit voluptatem</a></li>
        <li><a href="#">Vitae dicta sunt explicabo</a></li>
        <li><a href="#">Et veritatis quasi</a></li>
        <li><a href="#">Nectun sed quia conseq</a></li>
        <li><a href="#">Natus error sit voluptatem</a></li>
        <li><a href="#">Vitae dicta sunt explicabo</a></li>
{% endblock %}

{% block RightColumnBlock%}
<h3>Lorem ipsum dolor sit</h3>
<p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</i></p>
<p><a href="#" class="more">Read more »</a></p>
{% endblock%}



{% block table %}
<h2>Редактирование компонентов</h2>					
<table class="bordered">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Ед.изм</th>
            <th>мин.кол. наскладе</th>
            <th>Артикул 1С</th>
            <th>Код 1С</th>
            <th>Наименование 1С</th>
            <th>Группа</th>
        </tr>
    </thead>
    <tbody>
        {% for item in dbcAll %}
        <tr> 
            <td>{{ item.name }} </td>
            <td>{{ item.amount }} </td>
            <td>{{ item.id_unit }} </td>
            <td>{{ item.min_rezerve }} </td>
            <td>{{ item.articul_1C }} </td>
            <td>{{ item.code_1C }} </td>
            <td>{{ item.name_1C }} </td>
            <td>{{ item.id_parent }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}