/* общий стиль */
/* body {
    font-family: Arial, Tahoma, sans-serif;
    margin: 2em;
    font-size: 62.5%;
}

p {
    font-size: 1.2em;
}

a {
    color: #0066cc;
    text-decoration: none;
    outline: none;
} */

/*a:link {
 color: #0066cc; 
}
a:visited {color: #00cc63; }*/
/* a:hover {
    text-decoration: underline;
}

a:active,
a:focus {
    color: #666;
    background-color: #f4f4f4;
}

a.current {
    color: black;
    font-weight: bold;
}



